<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANpeF71lsswk1WNpTFGAbQGTPEdGWKzwI</string>
	<key>GCM_SENDER_ID</key>
	<string>481327842934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aykutipek.Threads</string>
	<key>PROJECT_ID</key>
	<string>threads-5a1d6</string>
	<key>STORAGE_BUCKET</key>
	<string>threads-5a1d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481327842934:ios:35c9ed3bfe7333db630157</string>
</dict>
</plist>